*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: rgb(182, 181, 181);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 100px;
    align-items: center;
    border-bottom: 3px solid #01adf3;
}

/*  MENU  */

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    position: relative;
}

.menu li a{
    text-decoration: none;
    color: #d9d5d5;
    padding: 39px 60px;
    display: block;
}

.menu li:hover {
    background-color: #01aef39d;
    color: white;
    transition: 0,5s;
}

.logo{
    width: 120px;
    height: 120px;
    margin: -20px;
}

/*  SUBMENU  */

.menu li:hover > .submenu{
    display: block;
}

.submenu{
    position: absolute;
    top: 99px;
    left: 0;
    min-width: 110%;
    display: none;
}

.submenu li{
    display: flex;
    align-items: center;
    background-color: #01aef39d;
    border: 1px solid #01aef3ca;
}

.submenu li:hover{
    background-color: #01adf3;
}

.alcino{
    width: 70px;
    height: 70px;
}